.fancy {
  color: black;
}

.nav {
  font-size: 16px;
  font-family: "Monaco", "Consolas", "Menlo", monospace;
  color: black;
}

.nav__list a {
  color: black;
}

.splash {
    font-size: 10px;
    letter-spacing: 0.0em;
}

.post {
    font-size: 16px;
    font-weight: 200;
}

.splash {
  h3 {
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.03em;
    max-width: 28em;
  }
}

.nav__list {
  text-align: center;
}


