.fancy {
  color: black;
}

.nav {
  font-size: 16px;
  font-family: "Monaco", "Consolas", "Menlo";
  color: black;
}

.nav__list a {
  color: black;
}

.splash {
    font-size: 10px;
    font-weight: 400;
    font-family: "Menlo", "Monaco", "Consolas";
}

.post {
    font-size: 16px;
    font-weight: 200;
    font-family: "Menlo", "Monaco", "Consolas";
}


.splash {
  h3 {
    font-size: 1.75em;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: -0.03em;
    max-width: 28em;
  }
}

.nav__list {
  text-align: center;
}


.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em auto;
  padding-top: 5rem;
  width: 50%;
}

@media only screen and (min-width: 200px) {
  .pagination {
    width: 50%;
    font-size: 0.7em;
  }
}

.pagination > .page-item {
  border: 0px solid #ddd;
  flex: 1;
  text-align: center;
  width: 1em;
}

.pagination .page-link {
  display: inline;
  color: black;
  text-decoration: none;
}

.pagination > .page-item.active {
  background-color: white;
  text-decoration: underline;
}
.pagination > .page-item.active > .page-link {
  color: black;
}

.pagination > .page-item.disabled > .page-link {
  color: grey;
}

.tag__link {
  text-decoration: none;
  color: #000a33;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: lighter;
  font-style: italic;

  &:hover {
    background-color: white;
    text-decoration: underline;
  }
}

.tags__list {
  flex-wrap: wrap;
  padding-left: inherit;
  margin: 1.5rem 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.social-icons {
  justify-content: center;
  padding-top: 2rem;
  margin-left: -0.8rem;
}

#post__title {
  font-size: 2.0rem;
}
